.parent{
    border: 2px solid blue;
    width: 200px;
    height: 200px;

    /* Ex 1 */
    /* position: relative; */
    
    
    /* Ex 2 */
    /* display: grid;
    place-items: center; */

    /* Ex 3 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .child{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    
} */