:root {
  --height-navbar: 50px;
  --blue: #1e90ff;
  --white: #ffffff;
}
.navbar {
  margin: 0;
  padding: 0;
  position: fixed;
  height: var(--height-navbar);
  width: 100%;
  background-color: red;
}
.main {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: var(--heigh-navbar);
  top: 50%;
  left: 50%;
}

.parent {
  border: 2px solid green;
  width: 200px;
  height: 200px;
  /* display:grid;
  place-items: center; */
/*   
  display: flex;
  justify-content: center;
  align-items: center; */
  
  position: relative;
  /* grid: repeat(2, 60px) / auto-flow 80px; */
}
input{
  border-radius: 5%;
  height:30px ;
  border: violet solid;
}

.child {
  position: absolute;
  transform: translate(-50%, -50%);
  /* margin-top: var(--heigh-navbar);  */
   top: 50%;
  left: 50%;
  border: 2px solid blue;
  /* width: 100%;
  height: 100%; */
  width: 70px;
  height: 70px;
}
.child1 {
  position: absolute;
  border: 2px solid blue;
  /* width: 100%; */
  width: 70px;
  height: 70px;
}
.child2 {
  position: absolute;
  border: 2px solid blue;
  /* width: 100%; */
  width: 90px;
  height: 90px;
}
