body{
    font-family:Arial;
}
#labelCounter{
    font-size: 2em;
    text-align: center;
}
.title,.container-buttons{
    text-align: center;
}
.button{
    font-size: 1.5em;
    padding: 10px 40px;
    border-radius: 20%;
    background: blueviolet;
    color: white;

}